{% extends 'tcapp/base.html' %}
{% block title %}New Memory -Time Capsule{% endblock %}
{% block content %}
  <section class="card">
    <p class="muted">A little gift for future you </p>
    <h1>Create a capsule</h1>
    <p>Choose a secret key you’ll remember. We store a protected hash, so the key can’t be recovered if you forget it.</p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit">Save Memory</button>
    </form>
  </section>
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>

    if (document.getElementById('unlock_at')) {
      flatpickr('#unlock_at', {
        enableTime: true,
        dateFormat: "Y-m-d\\TH:i",
        minDate: "today"
      });
    }
  </script>
{% endblock %}
